/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	background-color: #000;
	color: #8200CA;
}

body {
	font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight: 600;
	font-stretch: normal;
	font-weight: bold;
	text-align: center;
}

a, a:visited {
	color: #F4D900;
}

/* border-top = sqrt(3 * border-left^2) */
.triangle {
	width: 0;
	height: 0;
	border-left-color: transparent;
	border-right-color: transparent;
	border-left-style: solid;
	border-right-style: solid;
}

#nabla {
	margin-top: 40px;
	display: inline-block;
	border-left-width: 300px;
	border-right-width: 300px;
	border-top: 520px solid #8200CA;
}

#nabla #inner {
	display: inline-block;
	border-left-width: 150px;
	border-right-width: 150px;
	border-top: 260px solid #000;
	position: relative;
	top: -435px;
	left: -150px;
}
